<div class="about-summary">
    <h1>About</h1>
    <p>{{ site.user_description }}</p>
</div>
<div class="about-detail-link-child about-detail-blog">
    <h2>Blog</h2>
    <p><i class="fas fa-blog" aria-hidden="true"></i></p>
    <p>I write about the things that I tinker with at <a
            href='https://www.devwithimagination.com'>DevWithImagination.com</a>.</p>
</div>
<div class="about-detail-link-child about-detail-email">
    <h2>Say Hello!</h2>
    <p><i class="fa fa-envelope"></i></p>
    <p>If you want to get in touch email me at <a
            href='mailto:{{ site.email }}'>{{ site.email }}</a></p>
</div>
<div class="about-detail-link-child about-detail-cv">
    <h2>CV</h2>
    <p><i class="far fa-user"></i></p>
    <p>I'm not looking for another job just now, but if I was you could find my CV <a href='/cv/'>here</a></p>
</div>