<div class="about-summary">
    <img class="profile-image" 
        src="{{ site.data.resume.info.image }}" 
        width="160"
        height="160"
        alt="{{ site.data.resume.info.name }}">
    <p>{{ site.data.about.bio }}</p>
</div>
<div class="about-detail-link-child about-detail-blog">
    <h2>Blog</h2>
    <p>I write about the things that I tinker with at <a
            href='{{ site.data.about.blog }}'>{{ site.data.about.blog_display }}</a>.</p>
</div>
<div class="about-detail-link-child about-detail-email">
    <h2>Say Hello!</h2>
    <p>If you want to get in touch, email me at <a
            href='mailto:{{ site.data.about.email }}'>{{ site.data.about.email }}</a></p>
</div>
<div class="about-detail-link-child about-detail-cv">
    <h2>CV</h2>
    <p>I'm not looking for another job just now, but if I was you could find my CV <a href='/cv/'>here</a></p>
</div>