//File defines core, site wide styles

@import "commonStyle";

//Include the font definitions
@include fonts();

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%; 
}

body {
	color: $mainFontColour;
	font-family: $contentFonts;
	font-weight: $contentFontWeight;

    @include respond-to(print) {
        font-family: $contentPrintFonts;
        font-weight: $contentPrintFontWeight;
    };

    @include mobileSize(font-size, $fontSizeStandard, $fontSizeSmaller, $fontSizeSmallest);
	
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $headerFontWeight;

    @include respond-to(print) {
        font-weight: $headerPrintFontWeight;
    };
}

h1 {
    @include mobileSize(font-size, 2.4, 2.4, 1.6);
    line-height: 1em;
}

h2 {
    @include mobileSize(font-size, 1.75, 1.75, 1.4);
    line-height: 1em;
    @include remSize(margin-top, 1);
}

h3 {
    @include remSize(font-size, 1.3);
}

h4, h5, h6 {
    font-size: 100%; 
}

p { 
    margin: 1em 0; 
}

a { 
    color: $linkColour;
	transition-duration: .5s;
	text-decoration: underline;

	
	&:hover {
	    color: $linkHoverColour;
	}
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.footer {
    // @extend .heading;
    background-color: $main;
    color: $headerFontColour;

    padding: 1em 1em 1em 2em;
    text-align: center;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.container{

    .site {
    	/*	background*/
    	background-color: $backgroundColour;
    	
    	/* text */
    	line-height: $lineHeightEM;
    	text-align: left;
    	text-rendering: optimizelegibility;
    	font-weight: $contentFontWeight;

        @include respond-to(print) {
            font-weight: $contentPrintFontWeight;
        };
    	
    	/* Sizing */
    	padding-bottom: 0;
        @include respond-to(handhelds) {
            padding-top: 1em;
        };
        
        margin: 5vh 2vw;

        h2 {
    		font-family: $headerFonts;
    		text-align: left;    

            @include respond-to(print) {
                font-family: $headerPrintFonts;
            };
        }
    
    	.footer {
    	    	        
   	        font-size: 0.8em;
    		// overflow: hidden;
    		padding-top: 1em;
    		z-index: 1;
    		
    		.copy {
    			width: 100%;
                padding-top: 1em;
    			text-align: center;
    		}
    	}
    }
}

@media
    only print {
    
        @page {
            margin: 0.75in 0.5in 0.5in 0.5in;

            size: A4;
        }
        
        body {
            background: none;
            background-color: #FFFFFF;

            color: $mainFontPrintColour;
            font-size: $fontSizeStandardPrint;
        }
    
        .container {
            .site {
                
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            
                .header, .footer {
                    display: none;
                }
                
                .content {
                    margin-top: 0;
                }
                
                a {
                    text-decoration: none;
                    color: $mainHeaderColour;
                }
            }
        }

        .author-links {
            display: none;
        }
        
}
