@import 'commonStyle';

/* Setup the CSS Grid Container */
.resume {
    /* As we can't style empty cells, we do this backwards. Set
     * the main background for the wrapper to what the sidebar should be,
     * and set the other cells back to the main background later */
    background-color: $tri;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);

    display: grid;

    grid-auto-rows: minmax(3rem, auto);

    grid-template-columns: auto minmax(20rem, 25%);
    grid-template-areas:
        "about photo"
        "about name"
        "work contact"
        "work education"
        "work skills"
        "work .";

    @include respond-to(handhelds) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "photo"
            "name"
            "contact"
            "education"
            "about"
            "skills"
            "work";
    }

    @include respond-to(print) {

        grid-template-areas:
        "about photo"
        "about name"
        "about contact"
        "skills education"
        "work work";

        box-shadow: none;
    }
}

/* Setup named grid areas */
.name {
    grid-area: name;
    
    h1, h2 {
        text-align: center;
    }

    h1 {
        color: $mainBackgroundColour;

        font-size: 2rem;
    }

    h2 {
        // color: $main;
        color: $headerFontColour;

        font-size: 1rem;
    }


}

.photo {
    grid-area: photo;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-top: 1rem;


    img.profile-image {
        width: 10rem;
        height: 10rem;
        border-radius: 5rem;
    }
}

.contact {
    grid-area: contact;

    .icon {
        border: 0;
        color: $mainBackgroundColour;

        &:hover, &:active {
            border: 0;
            background-color: inherit;
            color: inherit;
        }
    }

    a {
        color: $mainBackgroundColour;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.about {
    grid-area: about;
}

.work {
    grid-area: work;
}

.education {
    grid-area: education;
}

.skills {
    grid-area: skills;

    /* top right bottom left */
    padding: 1rem 1rem 0 1rem;

    @include respond-to(print) {
        padding: 1rem 2rem 0 3rem;
    }
}

.name, .photo {
    background-color: $sec;

    padding-bottom: 1rem;
}

.about, .work {
    background-color: $mainBackgroundColour;
}

.contact, .education {
    padding: 1rem 1rem 0 1rem;
}

.contact, .education, .skills {
    background-color: $tri;
    color: $mainBackgroundColour;

    @include respond-to(handhelds) {
        padding: 2rem 2rem 0;
    }

    .profile-section-title, .profile-name, .profile-name a {
        color: $mainBackgroundColour;
        text-decoration: none;
    }

    .profile-name a:hover {
        text-decoration: underline;
    }
}

.about, .work {
    padding: 3rem 3rem 0 3rem;

    @include respond-to(handhelds) {
        padding: 2rem 2rem 0;
    }

    @include respond-to(print) {
        padding: 3rem 2rem 0 3rem;
    }
}

.profile-education-item p {
    margin: 0;
}


.profile-section-header {
    margin-bottom: $verticalSpacing;
}

.profile-section-content {
    ul:last-child {
        margin-bottom: $verticalSpacing;
    }
}

.employment-position {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    .profile-section-details {
        text-align: right;
    }
}

.profile-employment {
    .profile-when, .employment-company {
        font-size: 0.8rem;
    }
}

.profile-section-title {

    line-height: 3em;
    text-align: left;
    text-transform: uppercase;

    color: $sec;

    $iconFontSize: $horizontalSpacing;
    i {
        position: inherit;
        display: inline;
        width: 100%;
        left: 0;
        padding: 0;

        background-color: inherit;
        height: 100%;
        z-index: 0;
    }
}

.profile-field {
    display: none;
}

.profile-phone, .profile-email, .profile-www {
    margin-right: 1em;
    display: inline-block;
}

.profile-position {           
    @include respond-to(handhelds) {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    };
    
}

.profile-section-content {

    li {
        margin-left: $horizontalSpacing
    }
}

@include respond-to(print) {

    .profile-employment {
        /* Page break directives are not supported in grid yet by the looks of it
         * https://stackoverflow.com/questions/58879352/why-doesnt-page-break-work-with-css-display-grid
         * 
         * Need to pad this element down a bit so it can print
         */
        padding-top: 7rem;
    }
}
