---
layout: default
---
  <div class="site">
    <article class="resume">

      <section class="name">
        {% assign sectionData = site.data.resume.info %}
        <h1 class="profile-name">{{ sectionData.name }}</h2>
          <h2 class="profile-position">{{ sectionData.position }}</h2>
      </section>

      <section class="photo">
        {% assign sectionData = site.data.resume.info %}
        <img class="profile-image" src="{{ sectionData.image }}" alt="{{ sectionData.name }}">
      </section>

      <section class="contact profile-information">
        {% assign sectionData = site.data.resume.info %}
        <div class="profile-section-details">
          {% if sectionData.phone %}
          <div class="profile-phone">
            <span class="profile-icon fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span>
            <span class="profile-field">Phone: </span><a
              href="tel:{{ sectionData.phone | replace: ' ', '' }}">{{ sectionData.phone }}</a></div>{% endif %}
          {% if sectionData.email %}
          <div class="profile-email">
            <span class="profile-icon fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <span class="profile-field">Email: </span><a
              href="mailto:{{ sectionData.email }}">{{ sectionData.email }}</a></div>
          {% endif %}
          {% if sectionData.website_link %}
          <div class="profile-www">
            <span class="profile-icon fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            </span>
            <span class="profile-field">Blog: </span><a
              href="{{ sectionData.website_link }}">{{ sectionData.website_display }}</a></div>
          {% endif %}
        </div>

      </section>

      <section class="about profile-about">
        {% assign sectionData = site.data.resume.info %}
        <h3 class="profile-section-title">
          <i class="fa fa-lg fa-info-circle"></i>
          <span>About</span>
        </h3>

        <div class="profile-section-content">
          <p>{{ sectionData.text }}</p>
        </div>
      </section>

      <section class="work profile-employment">
        {% assign sectionData = site.data.resume.experience %}
        <h3 class="profile-section-title">
          <i class="fas fa-lg fa-chart-line"></i>
          <span>Employment</span>
        </h3>

        {% for item in sectionData %}

        <div class="profile-employment-item">
          <div class="profile-section-header">
            <div class="profile-section-name">
              <h3 class="profile-name">{{ item.where }}</h3>

              {% for role in item.roles %}
              <h4 class="profile-position">{{ role.title }}</h4>
              <div class="profile-section-details">
                <div class="profile-when">{{ role.when }}</div>
              </div>
              {% endfor %}

            </div>

          </div>

          <div class="profile-section-content">
            {{ item.text | markdownify }}
          </div>
        </div>

        {% endfor %}
      </section>

      <section class="education profile-education">
        {% assign sectionData = site.data.resume.education %}
        <h3 class="profile-section-title">
          <i class="fas fa-lg fa-graduation-cap"></i>
          <span>Education</span>
        </h3>

        {% for item in sectionData %}

        <div class="profile-education-item">
          <div class="profile-section-header">
            <div class="profile-section-name">
              <h3 class="profile-name">{% if item.url %} <a href="{{ item.url }}" {% if item.urlalt %}
                  alt="{{ item.urlalt }}"
                  {% endif %}>{% endif %}{{ item.qualification }}{% if item.url %}</a>{% endif %}</h3>
              <h4 class="profile-position">{{ item.location }}</h4>
            </div>
            <div class="profile-section-details">
              <div class="profile-when">
                {% if item.when %}{{ item.when }}{% endif %}
                {% if item.when_from %}<span class="profile-when-from">{{ item.when_from }}</span> &mdash;
                <span class="profile-when-to">{{ item.when_to }}</span>{% endif %}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </section>

      <section class="community"></section>

      <section class="skills profile-skills">
        {% assign sectionData = site.data.resume.skills %}
        <h3 class="profile-section-title">
          <i class="fa fa-lg fa-code"></i>
          <span>Skills</span>
        </h3>

        <div class="profile-section-content">
          {{ sectionData.text | markdownify }}
        </div>
      </section>

    </article>
  </div>