---
layout: default
---
  <div class="site">
    <article class="resume">

      <section class="name">
        {% assign sectionData = site.data.resume.info %}
        <h1 class="profile-name">{{ sectionData.name }}</h2>
          <h2 class="profile-position">{{ sectionData.position }}</h2>
      </section>

      <section class="photo">
        {% assign sectionData = site.data.resume.info %}
        <img class="profile-image" 
              src="{{ sectionData.image }}" 
              width="160"
              height="160"
              alt="{{ sectionData.name }}">
      </section>

      <section class="contact profile-information profile-section">
        {% assign sectionData = site.data.resume.info %}
        <div class="profile-section-details">
          {% if sectionData.phone %}
          <div class="profile-phone">
            <span class="profile-field">Phone: </span><a
              href="tel:{{ sectionData.phone | replace: ' ', '' }}"><span class="icon icon-phone"></span>{{ sectionData.phone }}</a></div>{% endif %}
          {% if sectionData.email %}
          <div class="profile-email">
            <span class="profile-field">Email: </span><a
              href="mailto:{{ sectionData.email }}"><span class="icon icon-send"></span>{{ sectionData.email }}</a></div>
          {% endif %}
          {% if sectionData.website_link %}
          <div class="profile-www">
            <span class="profile-field">Blog: </span><a
              href="{{ sectionData.website_link }}"><span class="icon icon-link"></span>{{ sectionData.website_display }}</a></div>
          {% endif %}
        </div>

      </section>

      <section class="about profile-about profile-section">
        {% assign sectionData = site.data.resume.info %}
        <h3 class="profile-section-title">
          <span>About</span>
        </h3>

        <div class="profile-section-content">
          <p>{{ sectionData.text | markdownify }}</p>
        </div>
      </section>

      <section class="work profile-employment profile-section">
        {% assign sectionData = site.data.resume.experience %}
        <h3 class="profile-section-title">
          <span>Employment</span>
        </h3>

        {% for item in sectionData %}

        <div class="profile-employment-item">
          <div class="profile-section-header">
            <div class="profile-section-name">
              {% for role in item.roles %}
              <div class="employment-position">
                <h4 class="profile-position">{{ role.title }}</h4>
                <div class="profile-section-details">
                  <div class="profile-when">{{ role.when }}</div>
                </div>
              </div>
              {% endfor %}
              <div class="employment-company">{{ item.where }}</div>

            </div>

          </div>

          <div class="profile-section-content">
            {{ item.text | markdownify }}
          </div>
        </div>

        {% endfor %}
      </section>

      <section class="education profile-education profile-section">
        {% assign sectionData = site.data.resume.education %}
        <h3 class="profile-section-title">
          <span>Education</span>
        </h3>

        {% for item in sectionData %}

        <div class="profile-education-item">
          <div class="profile-section-header">
            <div class="profile-section-name">
              <h4 class="profile-name">{% if item.url %} <a href="{{ item.url }}" {% if item.urlalt %}
                  alt="{{ item.urlalt }}"
                  {% endif %}>{% endif %}{{ item.qualification }}{% if item.url %}</a>{% endif %}</h3>
              <p class="profile-position">{{ item.location }}</p>
            </div>
            <div class="profile-section-details">
              <div class="profile-when">
                {% if item.when %}{{ item.when }}{% endif %}
                {% if item.when_from %}<span class="profile-when-from">{{ item.when_from }}</span> &mdash;
                <span class="profile-when-to">{{ item.when_to }}</span>{% endif %}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </section>

      <section class="skills profile-skills profile-section">
        {% assign sectionData = site.data.resume.skills %}
        <h3 class="profile-section-title">
          <span>Skills</span>
        </h3>

        <div class="profile-section-content">
          {{ sectionData.text | markdownify }}
        </div>
      </section>

    </article>
  </div>